PORT=8000

GOOGLE_CLOUD_PROJECT=your_project_id
GOOGLE_CLOUD_LOCATION=your_region
GOOGLE_CLOUD_RESOURCE_ID_AGENT=your_agent_reasoning_engine_id
GOOGLE_CLOUD_RESOURCE_ID_ADVISOR=your_advisor_reasoning_engine_id